TIME_ZONE = 'America/Vancouver'

LANGUAGE_CODE = 'en-us'

SITE_ID = 1

DEFAULT_COLLECTION_LOG_ID = None # The pk of the Log to which link collection should go by default

JOBS_PAGE_CONTACT_INFO = None # An array of info for the /job/ page like ['me@example.com', '(206) 555-1212']

SECRET_KEY = 'SOME_JUNK_HERE'

ADMINS = (('Your Name', 'something-or-other@exampleolio.com'),)
MANAGERS = ADMINS

PRODUCTION = False
DEBUG = True
TEMPLATE_DEBUG = DEBUG

#CACHE_BACKEND = 'dummy:///'
CACHE_BACKEND = 'locmem:///'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'trullo',
        'USER': 'postgres',
        'PASSWORD': '1234',
        'HOST': '',
        'PORT': '',
    }
}

LOG_FILE_PATH = '/tmp/trullo.log'
import logging
logging.basicConfig(level=logging.DEBUG, format='%(asctime)s %(levelname)s %(message)s', filename=LOG_FILE_PATH, filemode = 'w')
