{% extends "publish/base.html" %}

{% block title %}Collect | {% endblock %}

{% block navbar %}<br />{% endblock %}


{% block script-extras-page %}
<script>
   {% if log_entry %}
      var mailtoURL = publish.createMailtoURL(null, "{{log_entry.subject|escapejs}}", "{{log_entry.content|striptags|escapejs}}: \n{{log_entry.source_url|escapejs}}");
   {% else %}
      var mailtoURL = null;
   {% endif %}

   $(document).ready(function(){
      $('a.index-nav').addClass('selected');
      if(mailtoURL){
         $('#mailtoLink').attr('href', mailtoURL);
      }
   });

</script>
{% endblock %}

{% block page-view %}
   {% if page_message %}
      <p id="page-message">{{ page_message|safe }}</p>
   {% endif %}

   {% if log_entry %}
      <h2><a id="mailtoLink" href="">Mail it!</a></h2>

      <h2>Cut and paste it:</h2>
      <div>{{log_entry.subject}}</div>
      <div style="wrap-style: none;">{{log_entry.content|striptags}}</>
      <div>{{log_entry.source_url}}</div>
   {% endif %}

   {% if not page_message %}
      <form class="collect-form" action="." method="POST">
         {% for field in collect_form %}
            {% if field.label == 'Make public' %}public:{% endif %}
            {{ field.errors }}
            {{ field }}
            <br />
         {% endfor %}
         {% csrf_token %}
         <input type="submit" value="collect" />
      </form>
   {% endif %}
{% endblock %}