{% extends "front/base.html" %}

{% block title %}Contact | {% endblock %}

{% block head-extras-page %}
	<style>
		.adr {
			white-space: pre;
		}

		#contact-row ul {
			padding-left: 20px;
		}
		#contact-row li {
			list-style: disc;
			margin-bottom: 8px;
		}

		#contact-row h3 {
			font-weight: 400;
			font-size: 1.2em;
			margin: 25px 0 10px 0;
		}

		#contact-row .contact-section {
			margin-bottom: 35px;
		}
	</style>
{% endblock %}

{% block script-extras-page %}
	<script>
		$(document).ready(function(){
			$('#contact-nav').addClass('active');
		});
	</script>
{% endblock %}

{% block page-view %}
	<div id="top-page-view-container" class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h2>Links:</h2>
				<table class="tuple-table">
					{% for link in contact_info.links %}
						<tr>
							<th>{{ link.0 }}</th>
							<td><a href="{{ link.2 }}">{{ link.1 }}</a></td>
						</tr>
					{% endfor %}
				</table>
			</div>

			<div class="col-xs-12 col-sm-6">
				{% if contact_info.address %}
					<h2>Address:</h2>
					<div class="adr">{{ contact_info.address }}</div>
				{% endif %}
			</div>
		</div>
	</div>

	{% if owner and owner.profile.contact %}
		<div id="top-page-view-container" class="container">
			<div class="row">
				<div id="contact-row" class="col-xs-12">
					{{ owner.profile.contact|safe }}
				</div>
			</div>
		</div>

	{% endif %}
{% endblock %}