{% extends "front/base.html" %}

{% block head-extras-page %}
	<style>
		#top-page-view-container {
			margin-top: 35px;
		}
		
		#page-view .container h1 {
			margin-bottom: 25px;
		}

		#links-row {
			padding: 0 15px;
		}
		#links-row .col-xs-4 {
			padding: 0 15px 15px 0;
		}

		#posts-anchor {
			display: block;
			text-align: center;
			margin-bottom: 15px;
			outline: none;
		}
		.jumbotron h1 {
			text-align: center;
		}

		#profile-image-col {
			text-align: center;
		}
		#profile-image-col .profile-image {
			margin-top: 6px;
			margin-bottom: 10px;
		}
	</style>
{% endblock %}

{% block script-extras-page %}
	<script>
		$(document).ready(function(){
			$('#index-nav').addClass('active');
		});
	</script>
{% endblock %}

{% block page-view %}
	{% if owner and owner.profile.about %}
		<div id="top-page-view-container" class="container">
			<div class="jumbotron">
				<h1>
					Hello{% if owner and owner.first_name %}, I'm {{ owner.first_name }}.{% endif %}
				</h1>
				<p class="lead">
					<div class="row">
						{% if owner.profile.image %}
								<div id="profile-image-col" class="col-xs-12 col-sm-3">
								<img class="profile-image" src="{{ owner.profile.image.url }}" />
							</div>
						{% endif %}
						<div class="col-xs-12 col-sm-9">
							{{ owner.profile.about|safe }}
						</div>
					</div>
				</p>
			</div>
		</div>
	{% endif %}

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h1>Posts</h1>
				<div class="log-entry-snippet-list">
					{% for log_entry in recent_log_entries|slice:":4" %}
						{% include "publish/_log_entry_snippet.html" %}
					{% endfor %}
				</div>
				<a id="posts-anchor" href="{% url 'publish.views.posts' %}">More posts</a>
			</div>

			<div class="col-xs-12 col-sm-6">
				<h1>Links</h1>
				<div id="links-row" class="row">
				{% for log_entry in recent_log_entry_links|slice:":20" %}
					<div class="col-xs-4">	
						{% include "publish/_log_entry_link.html" %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}